ion-menu-button {
  color: var(--ion-color-primary);
}


.qr-open {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: opening-qr 0.5s forwards;
}

@keyframes opening-qr {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.qr-close {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: closing-qr 0.5s forwards;
}

@keyframes closing-qr {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.custom-segment{
  max-width: 1000px;
}

.custom-segment ion-segment-button{
  max-width: 200px;
}

.custom-segment ion-segment-button ion-label{
  font-size: small;
  text-transform: none;
}