<div id="content">
  <div class="width-center">
    <div class="floating">
      <ion-icon color="light" style="font-size: 100px;" name="school"></ion-icon>
    </div>
  </div>
  <div class="card-container">
    <ion-card class="custom-card">
      <ion-item color="primary">
        <ion-label>Formación academica</ion-label>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row class="border" *ngFor="let i of schoolItems">
            <ion-col id="icon-container" size="2">
              <ion-icon name="{{i.icon}}" color="primary"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-text id="date">{{i.date}}</ion-text>
              <div><ion-text id="title">{{i.title}}</ion-text></div>
              <div><ion-text>{{i.text}}</ion-text></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</div>